
<div id="controls_div" >
	<div id="controls_div_menu">
		<div id="controls_div_cerrar">
			<a href="#" id="controls_div_cerrar_btn">X</a>
		</div>
	</div>
	<div id="controls_div_centrar">
		<a href="#" id="controls_div_centrar_izquierda">IZQ</a>
		<a href="#" id="controls_div_centrar_centro">CENTRO</a>
		<a href="#" id="controls_div_centrar_derecha">DER</a>
	</div>
	<div id="controls_div_clear">
		<a href="#" id="controls_div_clear_both">clear</a>        
		<a href="#" id="controls_div_clear_none">none</a>        
	</div>
	<div id="controls_div_position">
		<a href="#" id="controls_div_position_absolute">absolute</a>        
		<a href="#" id="controls_div_position_relative">relative</a>        
	</div>
	<div id="controls_div_save">
		<input type="text" id="controls_div_save_input">
		<a href="#" id="controls_div_save_save">save</a>';	      
		<a href="#" id="controls_div_save_open">open</a>
	</div>
	<div id="controls_div_rename">
		<input type="text" id="controls_div_rename_input">
		<a href="#" id="controls_div_rename_cancel">cancel</a>
		<a href="#" id="controls_div_rename_save">rename</a>                
	</div>
	<div id="controls_div_delete">        
		<a href="#" id="controls_div_delete_cancel">cancel</a>
		<a href="#" id="controls_div_delete_save">delete</a>                
	</div>
	<div id="controls_div_image">        
		<a href="#" id="controls_div_image_background">background</a>
		<a href="#" id="controls_div_image_image">Image</a>                
	</div>
	<div id="controls_div_overflow">        
		<a href="#" id="controls_div_overflow_hidden">overflow Hidden</a>
		<a href="#" id="controls_div_overflow_visible">overflow Visible</a>
		<a href="#" id="controls_div_overflow_scroll">overflow Scroll</a>
		<a href="#" id="controls_div_overflowx_hidden">overflow-x Hidden</a>
		<a href="#" id="controls_div_overflowx_visible">overflow-x Visible</a>
		<a href="#" id="controls_div_overflowx_scroll">overflow-x Scroll</a>
		<a href="#" id="controls_div_overflowy_hidden">overflow-y Hidden</a>
		<a href="#" id="controls_div_overflowy_visible">overflow-y Visible</a>
		<a href="#" id="controls_div_overflowy_scroll">overflow-y Scroll</a>
		<a href="#" id="controls_div_overflow_wrapnormal">overflow Wrap normal</a>
		<a href="#" id="controls_div_overflow_wraphyphenate">overflow Wrap hyphenate</a>
		<a href="#" id="controls_div_overflow_break_word">overflow Wrap break-word</a>
	</div>
</div>


<div id="assistant">
	<span></span>
</div>